
/* columnas de abajo*/
div.css-1r6slb0.e1tzin5v2 {
    background-color: rgba(224, 224, 224, 0.55);
    border: 1px;
    solid: #ffffff;
    padding: 0.2% 0.2% 0.2% 0.2%;
    border-radius: 5px;
}

div.css-o1jpvw.e19lei0e1{
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px;
    solid: #ffffff;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
}
/* Barra derecha*/
div.css-zbg2rx.e1fqkh3o1{
    background-color: #E3E2E2;
    border: 1px;
    solid: #ffffff;
    border-radius: 5px;
}

div.element.style.h2{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: #FA0000;
    letter-spacing: -0.005em;
    padding: 1rem 0px;
    margin: 0px;
    line-height: 1.4;
}

/* font size of st.metric*/
div.css-wnm74r.e16fv1kl3{
    font-size: 2.1rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;}

/* columnas dobles relleno*/
div.css-keje6w.e1tzin5v2{
    background-color: rgba(224, 224, 224, 0.55);
    border: 1px;
    solid: #ffffff;
    padding: 0.2% 0.2% 0.2% 0.2%;
    border-radius: 5px;
}

div.css-166thxj.e1tzin5v2{
    background-color: rgba(224, 224, 224, 0.55);
    border: 1px;
    solid: #ffffff;
    padding: 0.2% 0.2% 0.2% 0.2%;
    border-radius: 5px;
}


/* columna de arriba*/
/*
div.css-o1jpvw.e19lei0e1{
    background-color: rgba(231, 231, 231, 0.78);
    border: 1px;
    solid: #807d7d;
    padding: 0.2% 0.2% 0.2% 0.2%;
    border-radius: 5px;
}
*/